/* LINK BACK TO HOMEPAGE */
.linkback {
background-color: white;
    width: 22vh;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 6px;
    padding-left: 13px;
    position: absolute;
    left: -1vh;
    bottom: 107vh;
    font-family: 'Open Sans', sans-serif;


  @include for-tablet-landscape-up {
    background-color: white;
    width: 22vh;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 6px;
    padding-left: 13px;
    position: absolute;
    left: -1vh;
    bottom: 13vh;
    font-family: 'Open Sans', sans-serif;
  }
}

.linkback a {
  color:#F9C0C3;
}

.linkback a:hover {
  text-decoration:none;
  color:#F9C0C3;
}

/* CONTAINER AND LAYOUT */
.container {
  height:100vh;
  width:80%;
}

.layout {

  position: relative;

   @include for-tablet-landscape-up {
    display:flex;
    background-color:white;
    position:relative;
  }
}

/* COCKTAIL IMAGE */
.show-image {
  height:64vh;
  width:100vw;
  border-bottom: 14px solid beige;

  @include for-tablet-landscape-up {
    height:100vh;
    width:94vw;
    border-right: 14px solid beige;
  }
}

/* SHOW PAGE INFORMATION  */
.cocktailName {
  text-align:center;
  font-family: 'Playfair Display', serif;
  font-size: 11vh;
  color:#523E40;

   @include for-tablet-landscape-up {
  font-family: 'Playfair Display', serif;
  font-size: 11vh;
  color:#523E40;
  text-align:left;
   }
}

.showPageContainer {
  display: flex;
  flex-direction: column;

  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: column;
    padding-left: 7%;
  }
}

/* INGREDIENTS */

.heading {
  font-size: 13px;
  margin-left: 2vh;
  margin-top: 0vh;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.5;
  font-family: 'Open Sans', sans-serif;
}

.ingredientTable {
  margin-top:7vh;
  margin-bottom: 5vh;
}

.table {
  font-size: 13px;
  margin-bottom:0vh!important;
  border-left:9px solid #F4FFDD;
  font-family: 'Open Sans', sans-serif;
  font-weight:lighter;
}

.scrollTable {
  height: 28vh;
  display: block;
  overflow: scroll;

  @include for-tablet-landscape-up {
    height: 28vh;
    display: block;
    overflow: scroll;
    width: 25vw;
 }
}

.tableHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-tablet-landscape-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
  }
}

.table > tbody > tr > td {
  border-top:1px solid beige!important;
  text-align:center;
  color:#523E40;
}

.a {
  text-align:right;
}

.table > tbody > tr > td.a {
    text-align:right;
}

/* REVIEW COMMENTS*/
.badge {
  background-color:beige!important;
}

.reviewTable {
  font-size: 2vh;
  margin-top: 2vh;
}

.review {
  margin-bottom: -26vh;
}

.fa {
  color: #F9C0C3;
  text-decoration: none
}

.list-group-item {
  border-top: 1px solid beige!important;
  border-bottom:1px solid white!important;
  border-left:1px solid white!important;
  border-right:1px solid white!important;
  color: #523E40;
}

.list-group {
  margin-left:1vh;
  height: 28vh;
  overflow-y: scroll;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight:lighter;

  @include for-tablet-landscape-up {
    width: 25vw!important;
    margin-left:1vh;
    height: 28vh;
    overflow-y: scroll;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
  }
}

/* ADD INGREDIENT MODAL */
#myModal {
  outline: none;
}

.modal-footer {
  border-top: 1px solid white!important;
  margin-top: -64px;
}

.modalbtn {
  border-radius: 50%;
  background-color: #F9C0C3;
  color: white;
  border: 1px solid #F9C0C3;
  width: 23px;
  font-size: 13px;
  font-weight: lighter;
  margin-top: -13px;
  outline:none;

  @include for-tablet-landscape-up {
    border-radius: 50%;
    padding: 0px;
    background-color: #F9C0C3;
    color: white;
    border: 1px solid #F9C0C3;
    width: 1.5vw;
    font-size: 13px;
    font-weight: lighter;
    margin-top: -13px;
    height: 3vh;
    margin-right: 0.5vh;
    outline:none;
  }
}

// .formLayout {
//   width:100%;
// }

.modalTitle {
  font-size: 13px;
  // margin-left: 2vh;
  // margin-top: 0vh;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.5;
  font-family: 'Open Sans', sans-serif;
}

.modalbtn:hover {
  text-decoration:none;
}

.btn {
  border-radius: 17px;
  background-color: lightpink;
  color: white;
  font-size: 13px;
}

.modal-content {
  width:350px;
}

.select2-container {
  width:100% !important;
}

/* ADD REVIEW MODAL */
#myModal1 {
  top: 13vh;
  right: -56vh;
  outline: none;
}

.createIngredientsButton {
  background-color: #F9C0C3!important;
  color: white!important;
  border: 1px solid!important;
  border-radius: 17px!important;
  font-size: 12px!important;
}

.modalreview {
  margin-top: -3vh;
}

.row {
  margin:0;
}

.form-group {
  font-size:13px;
}

.form-control {
  width:100%;
}
